[Unit]
Description=Gogs (Go Git Service)
After=syslog.target
After=network.target
After=mysql.service
After=slapd.service

[Service]
Type=simple
User=gogs
Group=gogs
WorkingDirectory=/home/gogs
ExecStart=/opt/gogs/gogs web
Restart=always
Environment=USER=gogs HOME=/home/gogs

[Install]
WantedBy=multi-user.target