[Unit]
StopWhenUnneeded=true
Requires=gogs-web.service
After=gogs-web.service

[Service]
Environment=PORT=6000
ExecStart=/usr/bin/gogs run web
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=gogs-web.service
